@font-face {
font-family: 'Montserrat Light';
src: url('../fonts/Montserrat-Light/Montserrat-Light.eot');
src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Montserrat Regular';
src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto Regular';
src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Raleway Regular';
src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
src: url('../fonts/Raleway-Regular/Raleway-Regular.eot#iefix') format('embedded-opentype'),
url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Raleway Semibold';
src: url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot');
src: url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot#iefix') format('embedded-opentype'),
url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
url('../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Raleway Extra Bold';
src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot');
src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot') format('embedded-opentype'),
url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff') format('woff'),
url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway-Medium/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }